.banner {
  display: flex;
}
.banner .interest {
  background-color: #ff006e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.banner .interest p {
  padding: 0;
  margin: 0;
}
.banner .interest span {
  margin-left: 50px;
  text-decoration: underline;
}
.banner .interest span:hover {
  text-decoration: none;
  cursor: pointer;
  color: #b3b3b3;
}
.banner .header {
  height: 50px;
  border: 0.5px solid lightgray;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
.banner .header .leftHeader img {
  display: flex;
  justify-content: center;
  width: 200px;
}
.banner .header .middleHeader {
  display: flex;
}
.banner .header .middleHeader p {
  color: hotpink;
  padding-right: 10px;
}
.banner .header .middleHeader p:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}
.banner .header .middleHeader p:hover .dropDown {
  color: green;
}
.banner .header .middleHeader .sale {
  color: red;
}
.banner .header .rightHeader {
  display: flex;
  height: 45px;
}
.banner .header .rightHeader img {
  height: 45px;
}
.banner .header .rightHeader img:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
  text-decoration: underline;
}
.banner .header .rightHeader p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 5px;
}
.banner .header .rightHeader p:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
  .dropDown: show;
}
.banner .header .rightHeader input {
  height: 30px;
  width: 125px;
  margin-top: 7px;
}

.main {
  width: 85%;
  margin: auto;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main h2 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}
.main .welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 5px solid limegreen;
}
.main .information {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.main .information p {
  display: flex;
  font-size: 10px;
  padding-left: 10px;
}
.main .information .shipping {
  width: 32.6666666667%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
}
.main .information .shipping img {
  height: 40px;
}
.main .information .shipping .gray {
  color: gray;
  text-decoration: underline;
}
.main .information .shipping:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}
.main .information .giftCards {
  width: 32.6666666667%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
}
.main .information .giftCards img {
  height: 60px;
}
.main .information .giftCards .gray {
  color: gray;
  text-decoration: underline;
}
.main .information .giftCards:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}
.main .information .rewards {
  width: 32.6666666667%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f2;
}
.main .information .rewards img {
  height: 40px;
}
.main .information .rewards .gray {
  color: gray;
  text-decoration: underline;
}
.main .information .rewards:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}
.main .limited {
  width: 100%;
  height: 200px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.main .limited .discount h1 {
  font-size: 80px;
  padding-top: 5px;
}
.main .limited .buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.main .limited .buttons button {
  background-color: #f3f2f2;
  border: none;
}
.main .limited .buttons .womensButton {
  margin-right: 10px;
}
.main .limited .checkout {
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  margin-right: 10px;
}
.main .mainBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .mainBox .filler {
  width: 48%;
  margin-bottom: 20px;
}
.main .mainBox .filler img {
  width: 100%;
}
.main .mainBox .filler img:hover {
  cursor: pointer;
  border: 10px solid hotpink;
}
.main .mainBox .filler button {
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: -40px;
  margin-left: 15%;
}
.main .threeBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .threeBox .boxer {
  width: 32%;
}
.main .threeBox .boxer img {
  width: 100%;
}
.main .threeBox .boxer img:hover {
  cursor: pointer;
  border: 10px solid black;
}
.main .threeBox .boxer button {
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -40px;
  margin-left: 10%;
}
.main .deals {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 100px;
  border-bottom: 2px solid lightgray;
}
.main .deals .dealBox {
  width: 15%;
}
.main .deals .dealBox p {
  font-size: 12px;
}
.main .deals .dealBox img {
  width: 100%;
}
.main .deals .dealBox .hide {
  display: none;
}
.main .deals .dealBox:hover .item {
  display: none;
}
.main .deals .dealBox:hover .hide {
  display: table;
  border: 5px solid pink;
}
.main .aboutUO {
  text-align: center;
  margin-top: 50px;
}
.main .aboutUO p {
  margin-bottom: 10px;
  font-size: 10px;
}

.bottom {
  width: 100%;
  background-color: #f3f2f2;
  border-top: 1px solid lightgray;
  margin-top: 50px;
}
.bottom .email {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}
.bottom .email .getEmail {
  width: 300px;
}
.bottom .email .getEmail .small {
  font-size: 10px;
}
.bottom .email .emailInput input {
  height: 50px;
}
.bottom .email .emailInput button {
  height: 50px;
  margin-left: 20px;
  border: none;
  background-color: black;
  color: white;
}
.bottom .tiny {
  padding-top: 40px;
  width: 65%;
  text-align: center;
  margin: auto;
  font-size: 10px;
  padding-bottom: 50px;
}
.bottom .stuff {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 70%;
}
.bottom .stuff p {
  margin-bottom: 10px;
  font-size: 13px;
}
.bottom .stuff h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.bottom .stuff p:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}
.bottom .followUS .imgs {
  display: flex;
}
.bottom .followUS .imgs img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.bottom .apps img {
  height: 30px;
}
.bottom .apps img:hover {
  border: 2px solid black;
  border-radius: 15px;
}
.bottom .signUpEmail {
  margin-top: 40px;
}

@media only screen and (max-device-width: 812px) and (min-device-width: 375px) and (-webkit-device-pixel-ratio: 3) {
  .main {
    width: 85%;
  }
  .main .information .shipping {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .information .giftCards {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .information .rewards {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .limited .discount h1 {
    font-size: 60px;
  }
  .main .mainBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main .mainBox .filler {
    width: 100%;
    margin-bottom: 20px;
  }
  .main .mainBox .filler img {
    width: 100%;
  }
  .main .mainBox .filler img:hover {
    cursor: pointer;
    border: 10px solid hotpink;
  }
  .main .mainBox .filler button {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .main .deals .dealBox {
    width: 33%;
  }

  .bottom .stuff {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .main .information .shipping {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .information .giftCards {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .information .rewards {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .limited .discount h1 {
    font-size: 60px;
  }
  .main .mainBox .filler {
    width: 100%;
  }
  .main .deals .dealBox {
    width: 33%;
  }

  .bottom .stuff {
    width: 100%;
  }
}
@media (min-device-width: 750px) and (max-device-width: 1024px) {
  .bottom .stuff {
    width: 100%;
  }
}

/*# sourceMappingURL=input.css.map */
